[submodule "RT-N56U-Profiles"]
	path = RT-N56U-Profiles
	url = https://github.com/AdvancedWRT/RT-N56U-Profiles.git
[submodule "trunk/user/ngrok/ngrok-c"]
	path = trunk/user/ngrok/ngrok-c
	url = https://github.com/dosgo/ngrok-c.git
[submodule "MI-R3G-Profile"]
	path = MI-R3G-Profile
	url = https://github.com/hynnet/Padavan-Mi-R3G.git
[submodule "XZB-Profile"]
	path = XZB-Profile
	url = https://github.com/neophack/XZB.git
